<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBzfRRXdocZk-ieN2JfEODKTrJA-5Em2uI</string>
	<key>GCM_SENDER_ID</key>
	<string>945689156630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.josipkilic.racunko</string>
	<key>PROJECT_ID</key>
	<string>racunko-78d94</string>
	<key>STORAGE_BUCKET</key>
	<string>racunko-78d94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945689156630:ios:e17e4ccaa6c606e2346937</string>
</dict>
</plist>